.menu {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(161, 79, 42, 0.95);
}

#close-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu.menu-open #close-menu {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .menu {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: transparent;
    }
}